# Virtual environment folder
venv/

# Python bytecode files
__pycache__/

# Environment variables
*.env

# Operating system files
.DS_Store
Thumbs.db

# Specific files
run.sh 
test.py  

# Spotipy cache file
.cache
